/* simple black (inverse) styling */

body {
color: #ffffff;
background-color: #000000;
}

.text {
  color: #ffffff
}

div {
  background-color: #000000;
  position: relative;
  margin: 0;
  padding: 0;
}
